<%= form_with(model: dev) do |form| %>
  <% if dev.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(dev.errors.count, "error") %> prohibited this dev from being saved:</h2>

      <ul>
        <% dev.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label "Nome", style: "display: block; color:#e6e6eb" %>
    <div class="d-flex"> 
      <%= form.text_field :name, class:"my-3 text-field form-control" %>
      <%= form.submit "Criar Dev", class:"my-2 btn btn-outline-primary" %>
    </div>
  </div>

<% end %>
