<!-- app/views/busca/index.html.erb -->
<div class='container'>
  <h1 style="color:#FFF">Busca</h1>
  <%= form_with(url: "/busca/search", method: "get", local: true, class: 'bg-transparent') do %>
    <div class="mb-3">
      <%= text_field_tag :search, nil, placeholder: "Digite o termo de busca", class: "form-control search", style: "background-color: #333; color: #fff" %>

    </div>


    <div class="row">
      <div class="col-md-3 mb-3">
        <label style="color:#e6e6eb ;">Selecione o Status</label>
        <%= select_tag :status, options_for_select(['Todos', 'Continuar', 'Parar', 'Melhorar']), class: "btn border dropdown-toggle w-100  text-start" %>
      </div>

      <div class="col-md-3 mb-3">
        <label style="color:#e6e6eb ;">Selecione o Tipo</label>
        <%= select_tag :good_bad, options_for_select(['Todos', 'Boa', 'Ruim']), class: "btn border dropdown-toggle w-100  text-start" %>
      </div>

      <div class="col-md-3 mb-3">
        <label style="color:#e6e6eb ;">Data de início</label>
        <%= date_field_tag :start_date, nil, class: "form-control", style: "background-color: #333; color: #fff" %>
      </div>

      <div class="col-md-3 mb-3">
        <label style="color:#e6e6eb ;">Data de fim</label>
        <%= date_field_tag :end_date, nil, class: "form-control", style: "background-color: #333; color: #fff" %>
      </div>
    </div>

    <div class="mb-3">
      <%= submit_tag "Buscar", class: "btn btn-primary" %>
    </div>
  <% end %>

<% if @posts %>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Dev:</th>
        <th>Description:</th>
        <th>Status:</th>
        <th>Good/Bad:</th>
        <th>Date:</th>
        <th colspan="3"></th>
      </tr>
    </thead>
      <h2 style="color: #FFF">Resultados</h2>
      <% @posts.each do |post| %>
        <tr>
          <tbody>
            <td><%= post.dev.name %></td>
            <td><%= post.description %></td>
            <td><%= post.status %></td>
            <% if post.good_bad == 'Boa' %>
              <td style="color: green !important; "><%= post.good_bad %></td>
            <% elsif post.good_bad == 'Ruim' %>
              <td style="color: red !important;"><%= post.good_bad %></td>
            <% end %>
            <td><%= post.date.strftime("%d/%m/%Y") %></td>
            <td>
              <div class="d-flex">
                <%= link_to image_tag("editar.svg"), edit_post_path(post), class:"btn btn-outline-dark me-2 border-0"%>
                <%= button_to image_tag("excluir.png"), post, method: :delete, class:"btn btn-outline-danger button-delete border-0", onclick: "return confirm('Tem certeza que deseja excluir este post?')" %>
              </div>
            </td>
          </tbody>
        </tr>  
      <% end %>
    </table>
  <% end %>
</div>