<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="d-flex">
    <div class="m-3">
      <%= form.label :dev, style: "display: block" %>
      <%= form.select :desired_attribute, ['Phillippe', 'Mauricio', 'Rodrigo', 'Antonio', 'Henry', 'Enzo', 'Jasiel', 'Diego']%>
    </div>

    <div class="m-3">
      <%= form.label :description, style: "display: block" %>
      <%= form.text_area :description %>
    </div>

    <div class="m-3">
      <%= form.label :date, style: "display: block" %>
      <%= form.date_field :date %>
    </div>

    <div class="m-3">
      <%= form.label :status, style: "display: block" %>
      <%= form.select :desired_attribute, ['Continuar', 'Parar', 'Melhorar']%>
    </div>
    <div class="m-3">
      <%= form.label :good_bad, style: "display: block" %>
      <%= form.select :desired_attribute, ['Boa', 'Ruim']%>
    </div>

  </div>
  
  <div>
    <%= form.submit %>
  </div>
<% end %>
