<div class="post-form">
<%= form_with(model: post, html: {name: "post[sub_posts_attributes][#{local_assigns[:index]}]" }) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <table class="table table-striped table-bordered">
    <thead>
      <th>
        <%= form.label "Desenvolvedor", style: "display: block; font-weight: bold; font-size:20px; margin-bottom:10px" %>
      </th>
      <th>
        <%= form.label "Descrição", style: "display: block; font-weight: bold; font-size:20px; margin-bottom:10px" %>
      </th>
      <th>
        <%= form.label "Bom/Ruim", style: "display: block; font-weight: bold; font-size:20px; margin-bottom:10px" %>
      </th>
      <th>
        <%= form.label :status, style: "display: block; font-weight: bold; font-size:20px; margin-bottom:10px" %>
      </th>
      <th>
        <%= form.label "Data", style: "display: block; font-weight: bold; font-size:20px; margin-bottom:10px" %>
      </th>
    </thead>
      <tr>
        <tbody>
          <td>
            <%= form.select :dev , ['Phillippe', 'Mauricio', 'Rodrigo', 'Antonio', 'Henry', 'Enzo', 'Jasiel', 'Diego'] , {}, { :class => 'btn btn-light dropdown-toggle' }%>
          </td>
          <td>
            <%= form.text_area :description, class: "form-control custom-textarea" %>
          </td>
          <td>
            <%= form.select :good_bad, ['Boa', 'Ruim'], {}, { :class => 'btn btn-secondary dropdown-toggle' }%>
          </td>
          <td>
            <%= form.select :status, ['Continuar', 'Parar', 'Melhorar'], {}, { :class => 'btn btn-secondary dropdown-toggle' }%>
          </td>
          <td>
            <%= form.date_field :date , class:"form-control", :value => Time.now.strftime('%Y-%m-%d')%>
          </td>
        </tbody>
      </tr>
  </table>
<% end %>

</div>

  