<div id="<%= dom_id post %>">
  <p>
    <strong>Dev:</strong>
    <%= post.dev_id %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= post.description %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= post.date %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= post.status %>
  </p>

  <p>
    <strong>Good bad:</strong>
    <%= post.good_bad %>
  </p>

</div>
