<div class="container">
  <h1 style="color:#e6e6eb !important;">Reunião</h1>
  <div id="posts">
    <% datereunion = [] %> 
    <% @posts.each do |reuniondate| %>
      <% if !datereunion.include?(reuniondate.date) %>
        <% datereunion.push(reuniondate.date)%>
        <div class="accordion mb-3" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" style="box-shadow: none!important;" type="button" data-bs-toggle="collapse" data-bs-target="#<%=reuniondate.date%>" aria-expanded="false" aria-controls=<%=reuniondate.date%>>
                <strong><%= reuniondate.date.strftime("%d/%m/%Y") %></strong>
              </button>
            </h2>
            <div id=<%= reuniondate.date%> class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body" >
                <table class="table table-striped table-hover">
                  <thead>
                    <tr>
                      <th>Dev</th>
                      <th>Description</th>
                      <th>Status</th>
                      <th>Good/Bad</th>
                      <th>Date</th>
                      <th colspan="3"></th>
                    </tr>
                  </thead>
                  <% @posts.each do |post| %>
                    <% if post.date == reuniondate.date %>
                      <tr>
                        <tbody>
                          <td><%= post.dev %></td>
                          <td><%= post.description %></td>
                          <td><%= post.status %></td>
                          <% if post.good_bad == 'Boa' %>
                            <td style="color: green !important; "><%= post.good_bad %></td>
                          <% elsif post.good_bad == 'Ruim' %>
                            <td style="color: red !important;"><%= post.good_bad %></td>
                          <% end %>
                          <td><%= post.date.strftime("%d/%m/%Y") %></td>
                          <td>
                            <div class="d-flex">
                              <%= form_with url: edit_post_path(post), method: :get do %>
                                  <%= button_tag(type: 'submit', class: "btn btn-outline-dark me-2 border-0") do %>
                                    <%= image_tag "editar.svg" %>
                                  <% end %> 
                                <% end %>
                              <%= button_to image_tag("excluir.png"), post, method: :delete, class:"btn btn-outline-danger button-delete border-0", onclick: "return confirm('Tem certeza que deseja excluir este post?')" %>
                            </div>
                          </td>
                        </tbody>
                      </tr>  
                    <% end %>
                  <% end %>
                </table>
              </div>
            </div>
          </div>
        </div>
      <% end %> 
     <% end %>

  </div>
  <%= link_to "New post", new_post_path, class:"btn btn-primary btn-small", style:"margin-top: 0.7rem;" %>
</div>


