<div class="container">
  <h2 class="my-4 order-2" style="color:#e6e6eb !important;">Nova Reunião</h2>
  <div class="d-flex" id="formContainer">
    <table class="table m-0 order-3" id="tabela">
      <thead>
        <th>
          <p style="display: block; font-weight: bold; font-size:20px; margin-bottom:10px; width: 100%">Desenvolvedor</p>
        </th>
        <th>
          <p style="display: block; font-weight: bold; font-size:20px; margin-bottom:10px; width: 100%">Descrição</p>
        </th>
        <th>
          <p style="display: block; font-weight: bold; font-size:20px; margin-bottom:10px; width: 100%">Bom/Ruim</p>
        </th>
        <th>
          <p style="display: block; font-weight: bold; font-size:20px; margin-bottom:10px; width: 100%">Status</p>
        </th>
        <th>
          <p style="display: block; font-weight: bold; font-size:20px; margin-bottom:10px; width: 100%">Data</p>
        </th>
      </thead>
      <%= render "form", post: @post, show_submit_button: false %>
    </table>
  </div>

  <div class="d-flex justify-content-end mt-3">
    <button id="addFormButton" class="btn btn-outline-primary me-3">Adicionar formulário</button>
    <%= form_tag(root_path, method: :get, id:"postsForm") do %>
      <%= submit_tag "Salvar todos", id: "submitButton", class: "btn btn-outline-success" %> 
    <% end %>
  </div>
</div>
  
<script>
  document.getElementById('addFormButton').addEventListener('click', function() {
    const formCont = document.getElementById("formContainer")
    const rmvBtn = document.createElement("button")
    rmvBtn.innerHTML = `<%= image_tag "excluir.svg" %>`
    rmvBtn.style.backgroundColor = ""
    rmvBtn.classList.add("btn")
    rmvBtn.classList.add("btn-outline-danger")
    rmvBtn.classList.add("my-3")
    rmvBtn.classList.add("px-4")
    rmvBtn.classList.add("rounded-pill")
    var newForm = document.createElement('tbody');
    newForm.innerHTML = `
      <%= render "form", post: @post, show_submit_button: false %>
    `;
    newForm.classList.add("post-form")
    document.getElementById('tabela').appendChild(newForm);
    newForm.appendChild(rmvBtn)
    rmvBtn.addEventListener("click", function(){
      document.getElementById('tabela').removeChild(newForm)
    })
  });
  
  document.querySelector("#submitButton").addEventListener('click', function(event) {
  event.preventDefault();
  let forms = Array.from(document.querySelectorAll('.post-form'));
  let description
  let sub_posts = forms.map((form, index) => {
    description = form.querySelector(`#post_description`).value
    status = form.querySelector(`#post_status`).value
    good_bad = form.querySelector(`#post_good_bad`).value
    return {
      dev_id: form.querySelector(`#post_dev_id`).value,
      description: form.querySelector(`#post_description`).value,
      date: form.querySelector(`#post_date`).value,
      status: form.querySelector(`#post_status`).value,
      good_bad: form.querySelector(`#post_good_bad`).value,
    };
  });
  if(description && status && good_bad){   
    fetch('/posts', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        'X-CSRF-Token': document.querySelector("meta[name='csrf-token']").content
      },
      body: JSON.stringify({ post: { sub_posts_attributes: sub_posts } }) 
    })
    .then(data => window.location.replace("/"));
  }else {
    const container = document.querySelector(".container")
    const txtError = document.createElement("div")
    txtError.innerHTML = "Verifique se preencheu todos os campos!"
    txtError.classList.add("order-1")
    txtError.classList.add("alert")
    txtError.classList.add("alert-danger")
    txtError.classList.add("mt-3")
    container.add(txtError)
  }
});

</script>

